body {
    font-family: Roboto, sans-serif;
}

h1 {
    font-size: 2em;
    padding: 1em;
}

h2 {
    font-size: 1.6em;
    margin-left: 1.8em;
    margin-bottom: 0.5em;
}

.selected {
    background-color: cyan !important;
}

#main-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2em;
}

#container {
    border: 2px solid black;
    padding: 1em;
    margin-bottom: 2em;
    margin-left: 2em;
    flex: 0.8;
}

#root {
    font-weight: bold;
    background-color: #eeeeee;
    min-height: 50px;
    min-width: 50px;
    padding: 1em;
    border: 1px solid black;
}

#control-panel {
    background-color: #f2f2f2;
    width: 65%;
    border-radius: 8px;
    margin-left: 2em;
    padding: 1.2em;
}

#control-panel button,
#control-panel input {
    margin-right: 1em;
    font-size: 1em;
}